# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diretórios dependentes
node_modules/
jspm_packages/

# Dependências ocultas
.node_repl_history

# Builds
dist/
build/
out/

# Diretórios de testes
coverage/
.nyc_output/

# Configurações do ambiente
.env
.env.test
.env.production

# Editores/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistemas operacionais
.DS_Store
Thumbs.db

# Logs de depuração
npm-debug.log*
yarn-debug.log*
